.icon-facebook {
	margin-left: 13px;
	line-height: 34px;
	font-size: 14px;
  margin-top: 1px; 
}
.icon-twitter{
	margin-left: 12px;
  line-height: 34px;
  font-size: 14px;
  margin-top: 1px;
}
.icon-linkedin{
	margin-left: 12px;
  line-height: 34px;
  font-size: 14px;
  margin-top: 0px; 
}
.icon-printd{
  font-size: 14px;
  position: absolute;
  left: 17px;
  top:10px;
}
.icon-arrow{
  font-size: 14px;
  position: absolute;
  left: 17px;
  top: 10px;
}
.icon-calender{
  color: #cccccc;
  margin-right: 3px;
  font-size: 9px;
}