.icon-facebook {
	margin-left: 9px;
	line-height: 30px;
	font-size: 12px;
  margin-top: -1px; 
}
.icon-twitter{
	margin-left: 8px;
  line-height: 30px;
  font-size: 12px;
  margin-top: -1px;
}
.icon-linkedin{
	margin-left: 8px;
  line-height: 30px;
  font-size: 12px;
  margin-top: -2px; 
}
.icon-printd{
  font-size: 14px;
  position: absolute;
  left: 17px;
  top:10px;
}
.icon-arrow{
  font-size: 14px;
  position: absolute;
  left: 17px;
  top: 10px;
}
.icon-calender{
  color: #cccccc;
  margin-right: 3px;
  font-size: 9px;
}