* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #eee;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}