
.icon-printd{
  font-size: 14px;
  position: absolute;
  left: 17px;
  top:12px;
}
.icon-facebook {
	margin-left: 12px;
	line-height: 30px;
	font-size: 12px;
  margin-top: 1px; 
}
.icon-twitter{
	margin-left: 10px;
  line-height: 30px;
  font-size: 12px;
  margin-top: 1px;
}
.icon-linkedin{
	margin-left: 10px;
  line-height: 30px;
  font-size: 12px;
  margin-top:0; 
}